:root {
  --color-light: #fdfdfd;
  --color-dark: #444;
  --color-darker: #222;
  --color-nav:#999;
}

html {
	font-family: 'helvetica neue';
}

body {
	margin:0px;
	padding: 0 20px 0;
	background-color:var(--color-light);
	color:var(--color-dark);
}

.no-kerning {
	letter-spacing:0;
}

#menu {
	padding-top:10vh;
	padding-bottom:5vh;
	display:block;
	text-align:left;
	
}

#menu-box {
	vertical-align:top;
	text-align: left;
	color:var(--color-nav);
}

#content {
	display: block;
	line-height: 25px;
	font-size:16px;
}

.page {
	display: none;
	width: 100%;
	text-align: left;
}

.liang {
	font-size: 44px;
	position:relative;
	display:block;
	text-decoration: none;
}

#nav-about {
	text-decoration: none;
	color: var(--color-dark);
	letter-spacing: 0.5px;
}

.underName {
	stroke:var(--color-dark);
	stroke-width:4px;
	display:block;
	width:0px;
	height:4px;
	color:black;
	transition: all .6s ease-in-out;
}

.nav-link {
	cursor:pointer;
}

.title-label {
	margin:auto;
	padding-top:6px;
	padding-left:2px;
	letter-spacing: .5px;
	text-decoration: none;
	color:#999;
	transition: .1s ease-in-out;
}

.title-label:hover .title-label-decoration {
	opacity:1;
}

.title-label-decoration {
	opacity:0;
}

.title-label:hover {
	color: var(--color-dark);
}

.font-large {
	font-size: 26px;
}

.font-small {
	font-size: 14px;
}

.divider {
	width:10vw;
	min-width:100px;
	border:1px var(--color-dark) solid;
	margin-left:0;
}

a.body-link {
	padding:1px 1px 1px;
	border-radius: 1px;
	text-decoration:underline;
	color:var(--color-darker);
}

a.body-link:hover {
	background-color:var(--color-darker);
	color:white;
}

a:focus {
    outline:0;
}

#research {
	text-align: left;
}

.research-main-listing {
	line-height: 20px;
}

.research-main-listing li {
	font-weight: bold;
}

.research-main-listing p {
	font-size: 14px;
}

.project-logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.project-logo {
	border:2px var(--color-dark) solid;
	border-radius:50%;
	margin-bottom: -9px;
	width:25px;
	transition: all .4s ease-in-out;
}

.code {
	color:var(--color-light);
	background-color:var(--color-darker);
	border-radius:1px;
	padding:2px 3px;
	border:1px var(--color-light) solid;
	font-size:14px;
	word-wrap: break-word;
	text-decoration: none;
}

#photos hr, #photos p {
	margin: 14px 6px;
}

.photo-tab {
	display:flex;
	flex-flow: row wrap;
}

.photo-container {
	position: relative;
	margin: 3px 6px;
	cursor:initial;
	display:inline-block;
	flex:1 1 auto;
	max-height:120px;
}

.photo-overlay {
	position: absolute;
	bottom: 10.5px;
	margin: 0 4px;
	background-color:var(--color-darker);
	opacity: 0.8;
	width: calc(100% - 8px);
	height: 0;
}

.photo-container:hover .photo-overlay {
	height: 20%;
}

.photo-container:hover .photo {
	opacity:1;
	transition: .1s ease-in-out;
}

.photo {
	min-height:120px;
	flex: 1 1 0;
	border-radius:1px;
	height: auto;
	width:auto;
	max-height: 200px;
	opacity: .8;
	border: 1px solid var(--color-nav);
	padding: 4px;
	transition: .1s ease-in-out;
	object-fit:cover;
	margin:-.5px;
}

.photo:hover {
	opacity:0.9;
}

.boldy {
	color:var(--color-light);
	background-color:black;
	padding:2px 2px 1px;
}