:root {
  --color-light: #fdfdfd;
  --color-dark: #444;
  --color-darker: #222;
  --color-mid:#999;

  --font-small:14px;
  --font-large:26px;
}

html {
	font-family: 'helvetica neue';
}

body {
	margin:auto;
	padding: 0 20px 0;
	background-color:var(--color-light);
	color:var(--color-dark);
	opacity:1;
	max-width: 800px;
}

.no-kerning {
	letter-spacing:0;
}

#menu {
	padding-top:10vh;
	padding-bottom:3vh;
	display:block;
	text-align:left;
	
}

#menu-box {
	vertical-align:top;
	text-align: left;
	color:var(--color-mid);
}

#content {
	display: block;
	line-height: 25px;
	font-size:16px;
	margin: auto 2px;
}

.page {
	display: none;
	width: 100%;
	text-align: left;
	opacity:0;
}

.liang {
	font-size: 44px;
	position:relative;
	display:block;
	text-decoration: none;
}

#nav-about {
	text-decoration: none;
	color: var(--color-dark);
	letter-spacing: 0.5px;
}

.underName {
	stroke:var(--color-dark);
	stroke-width:0px;
	display:block;
	width:0px;
	height:4px;
	color:black;
	transition: all .6s ease-in-out;
}

#nav-about:hover + .underName {
	width: 160px;
	stroke-width: 4px;
}

.nav-link {
	cursor:pointer;
}

.title-label {
	margin:auto;
	padding-top:6px;
	padding-left:2px;
	letter-spacing: .5px;
	text-decoration: none;
	color:var(--color-mid);
	transition: .1s ease-in-out;
}

.title-label:hover .title-label-decoration {
	opacity:1;
}

.title-label-decoration {
	opacity:0;
}

.title-label:hover {
	color: var(--color-dark);
}

.font-large {
	font-size: 26px;
}

.font-small {
	font-size: 14px;
}

.divider {
	width:10vw;
	min-width:100px;
	border:1px var(--color-dark) solid;
	margin-left:0;
}

a.body-link {
	padding:1px 1px 1px;
	border-radius: 1px;
	text-decoration:underline;
	color:var(--color-darker);
}

a.body-link:hover {
	background-color:var(--color-darker);
	color:white;
}

a:focus {
    outline:0;
}

.research-main-listing {
	line-height: 20px;
	list-style-type: '~   ';
	list-style-position: outside;
}

.research-down-arrow {
	font-size:30px;
	top:5px;
	position:relative;
	cursor:pointer;
}

.research-desc {
	transition: opacity .1s, height .4s;
	transition-timing-function: ease-in-out;
	margin-left:10px;
	opacity:0;
    height:0;
    overflow:hidden;
    font-size:var(--font-small);
    font-style:italic;
}

.research-logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.research-logo {
	border:2px var(--color-dark) solid;
	border-radius:50%;
	margin-bottom: -9px;
	width:25px;
	transition: all .4s ease-in-out;
}

.code {
	color:var(--color-light);
	background-color:var(--color-darker);
	border-radius:1px;
	padding:2px 3px;
	border:1px var(--color-light) solid;
	font-size:14px;
	word-wrap: break-word;
	text-decoration: none;
}

.divider {
	margin-top: 30px;
}

.cmid {
	color:var(--color-mid);
}

.cdark {
	color:var(--color-dark);
}

.photo-tab {
	margin:auto;
	display:flex;
	flex-flow: row wrap;
}

.photo {
	min-height:160px;
	max-height:240px;
	max-width:calc(100% - 11px);
	padding: 5px;
	margin:0 -1px -1px 0px;
	border: 1px solid var(--color-mid);
	opacity: .85;
	object-fit: cover;
	flex: 1 1 0px;
	transition: .1s ease-in-out;
	cursor:pointer;
}

@media screen and (max-width: 550px) {
	.photo {
		min-height:100px;
		padding: 2px;
		max-width:calc(100% - 5px);
	}
}

.photo:hover {
	background-color:var(--color-dark);
	opacity:1;
}
