@font-face {
    font-family: "Maven Pro";
    src: url("fonts/Maven_Pro/MavenPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Exo 2";
    src: url("fonts/Exo_2/Exo2-Regular.woff") format("woff");
}

@font-face {
    font-family: "Architects Daughter";
    src: url("fonts/Architects_Daughter/ArchitectsDaughter.woff") format("woff");
}
@font-face {
    font-family: "Courier Prime";
    src: url("fonts/CourierPrime/CourierPrime.woff") format("woff");
}

html {
	font-family: 'maven pro';
}

body {
	margin:0px;
	padding:0px;
	background-color:white;
}

nav {
	background-color: white;
	display:none;
	opacity:0.8;
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height: 54px;
	box-shadow: 0px 0px 3px black;
	z-index: 1;
}

nav ul a li {
	display: inline-block;
	padding: 19px 20px 16px;
	font-size: 20px;
	margin-top:-20px;
	color: black;
	text-decoration: none;
}

.navimg {
	margin-top: -10px;
	margin-bottom:-8px;
	max-width: 30px;
	margin-right: 10px;
}


footer {
	height:50px;
	border-top: 1px solid black;
	padding:0;
	letter-spacing:.5px;
}
footer ul li {
	font-size: 14px;
	display: inline-block;
	padding: 0px 5px;
	margin: 0;
}
/*nav ul li:hover {
	background-color: #88ddbb;

}*/

a.body-link {
	text-decoration: none;
	color: #ca7272;
}
a.body-link:hover {
	color: #dd8888;
}
nav ul li a {
	text-decoration: none;
	color:black;
	margin-top: -10px;
}

.navbar-left {
	float:left;
}

.navbar-right {
	float: right;
}
.navbar-settings {
	display:none;
}
#navbar-links-b {
	display:none;
}

.iam {
	text-align:center;
	line-height: 60pt;
	font-size:25pt;
}
.iam-text {
	color:#ca7272;
	font-size:36pt;
	font-family: maven pro;
}
.profpic {
	float:right;
	border-radius:50%;
	width:150px;
	border:1px gray solid;
	margin: 10px;
}
.dragon {
	width:280px;
	margin-top: 0px;
}
.downarrow {
	position: absolute;
	bottom:0%;
	width:100%;
	display:block;
	text-align: center;
}

.downarrowimage {
	max-width: 80px;
	opacity: 0.6;
	border:0;
	filter:brightness(50%);
}

.downarrowimage:focus {
	outline:0;
}

.downarrowimage:hover {
	opacity: 1;
}

div.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
  display: block;
}

div.parallax-text {
	font-family: 'maven pro';
	position:relative;
	text-align:center;
	top:calc(50% - 40px);
	font-size: 80px;
	color:white;
}

.github {
	font-size: 48px;
	color:white;
	display:inline-block;
	-webkit-transform-origin: 50% 51%;
    transform-origin: 50% 51%;
    transition: all .4s ease-in-out;
}
.github:hover, .fa-github:hover  {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.content {
	padding:20px 10vw;
  	max-width: 1500px;
  	background-color:white;
}
#actCanvas {
	width:800px;
	height:100px;
}
.about {
	text-align:center;
}
.code {
	font-family:'courier prime';
	color:white;
	background-color:black;
	border-radius:4px;
	padding:3px 2px 1px;
	border:1px black solid;
	letter-spacing:0px;
	font-size:14px;
}
.projectIcons {
	cursor:pointer;
	font-size:0;
	width: 36vw;
	min-width:240px;
	border-spacing:0;
	margin:0;
	padding:0;
	display:inline-block;
}
.project {
	display:inline-block;
	width: 12vw;
	min-width:120px;
	min-height:120px;
	height:15vh;
	background-color:#FF6961;
	font-size: 80px;
	color:white;
	position:relative;
	text-align:center;

}
#projectIntro {
	text-align:center;
	font-size: 24px;
	margin-bottom:10px;
}
.projectLetter {
	position:relative;
	top: calc(50% - 55px);
}
.projectText {
	padding-left:30px;
	width:44vw;
	display:none;
	font-size:16px;
	position:absolute;
	height:30vh;
	min-height:360px;
	overflow:auto;
}

.project-logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.project-logo {
	border:2.5px gray solid;
	border-radius:50%;
	width:60px;
	transition: all .4s ease-in-out;
}
.project-title {
	position:absolute;
	font-size:32px;
	top:13px;
	margin-left:10px;
}

.tag {
	display:block;
	margin:auto;
	width:80vw;
	max-width:800px;
}

.submitContact {
	background-color: #6688ff;
}
.submitContact:hover {
	background-color: #99bbff;
}

#contact-icons {
	letter-spacing: 5px;
	font-size:54px;
}
.contact-icon {
	opacity:0.8;
}
.contact-icon:hover {
	opacity:1;
}
#bottom {
	font-size:26px;
}
.tooltip{
    display: inline;
    position: relative;
    border-bottom: 1px #bbbbbb dotted;
    cursor: context-menu;
    text-decoration: none;
    color: inherit;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 160px;
    font-size: 12px;
}

#contactForm {
	text-align:center;
}

.contactInput input, .contactInput textarea{
    font-family: 'Exo 2';
    padding-left: 8px;
    padding-right: 8px;
    margin:5px auto;
    max-width: 500px;
    width:80vw;
    font-size: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}

.contactInput textarea {
    padding-top: 2px;
    resize:none;
}

.contactInput input {
    height: 30px;
}

.contactInput span button {
    height: 35px;
    width: 257px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Exo 2';
    border:none;
}

.submitContact {
    background-color: #5577ff;
    background-color: #ca7272;
}
.submitContact:hover {
    background-color: #88aaff;
    background-color: #dd8888;
}
.clearContact {
    background-color: #888888;
}
.clearContact:hover {
    background-color: #bbbbbb;
}

.projectText::-webkit-scrollbar {
    width: 10px;
    background-color: #cccccc;
}
.projectText::-webkit-scrollbar * {
	background: transparent:;
}
.projectText::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:#666666;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}